name: Build UEAESKeyFinder

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
           3.1.x
           6.0.x
           7.0.x
           8.0.x
           9.0.x
           10.0.x
      - name: Restore dependencies
        run: dotnet restore UEAESKeyFinder.sln

      - name: Build Publish Binary
        run: dotnet publish ./UEAESKeyFinder/UEAESKeyFinder.csproj -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeAllContentForSelfExtract=true -p:PublishTrimmed=false -o ./publish

      - name: Get DateTime Tashkent/Uzbekistan
        id: datetime
        shell: bash
        run: echo "now=$(date -u -d '+5 hour' '+%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV

      - name: Create or Update Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: "UEAESKeyFinder Build (${{ env.now }})"
          body: "Build time: ${{ env.now }}"
          files: ./publish/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
